html {
    min-height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

body {
    background: #f5f5f7;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.level-header {
    & .level-right .button {
        margin-left: 16px;
    }
}

.button.is-icon {
    padding-left: .75em;
    padding-right: .75em;
}

.button.is-shadowed {
    $color: #fff;
    $color-invert: rgba(0, 0, 0, 0.2);

    transition: all .2s;
    background: linear-gradient(-20deg, adjust-hue($color, -10%) 0%, $color 50%);
    box-shadow: 0 5px 20px $color-invert;
    border: 0;
    transform: translateY(0);

    &[disabled] {
        box-shadow: 0 !important;
        transform: translateY(0);
    }

    &:focus, &:focus:not(:active) {
        box-shadow: 0 3px 13px $color-invert;
        transform: translateY(0);

        &[disabled] {
            box-shadow: 0 !important;
            transform: translateY(0);
        }

        &:hover {
            box-shadow: 0 8px 25px $color-invert;
            transform: translateY(-3px);

            &[disabled] {
                box-shadow: none !important;
                transform: translateY(0);
            }
        }

        &:active {
            box-shadow: 0 6px 20px $color-invert;
            transform: translateY(-1px);

            &[disabled] {
                box-shadow: none !important;
                transform: translateY(0);
            }
        }
    }

    &:hover {
        box-shadow: 0 8px 25px $color-invert;
        transform: translateY(-3px);

        &[disabled] {
            box-shadow: none !important;
            transform: translateY(0);
        }
    }

    &:active {
        box-shadow: 0 6px 20px $color-invert;
        transform: translateY(-1px);

        &[disabled] {
            box-shadow: 0 !important;
            transform: translateY(0);
        }
    }

    @each $name, $pair in $colors {
        $color: nth($pair, 1);
        $color-invert: rgba(0, 0, 0, 0.3);

        &.is-#{$name} {
            background: linear-gradient(-20deg, adjust-hue(nth($pair, 1), -10%) 0%, $color 50%);
            box-shadow: 0 5px 20px $color-invert;
            border: 0;
            transform: translateY(0);

            &[disabled] {
                box-shadow: 0 !important;
                transform: translateY(0);
            }

            &:focus, &:focus:not(:active) {
                box-shadow: 0 3px 13px $color-invert;
                transform: translateY(0);

                &[disabled] {
                    box-shadow: 0 !important;
                    transform: translateY(0);
                }

                &:hover {
                    box-shadow: 0 8px 25px $color-invert;
                    transform: translateY(-3px);

                    &[disabled] {
                        box-shadow: none !important;
                        transform: translateY(0);
                    }
                }

                &:active {
                    box-shadow: 0 6px 20px $color-invert;
                    transform: translateY(-1px);

                    &[disabled] {
                        box-shadow: none !important;
                        transform: translateY(0);
                    }
                }
            }

            &:hover {
                box-shadow: 0 8px 25px $color-invert;
                transform: translateY(-3px);

                &[disabled] {
                    box-shadow: none !important;
                    transform: translateY(0);
                }
            }

            &:active {
                box-shadow: 0 6px 20px $color-invert;
                transform: translateY(-1px);

                &[disabled] {
                    box-shadow: 0 !important;
                    transform: translateY(0);
                }
            }
        }
    }
}

.menu-list a {
    border-radius: 36px;
    margin-bottom: 5px;
    padding: 0.5em 1em;

    &.is-active {
        $color: #167df0;
        $color-invert: adjust-hue(nth(#167df0, 1), -20%);

        border-radius: 36px;
        background: linear-gradient(-20deg, $color-invert, $color);
    }
}

.upload .upload-draggable {
    display: block;
}

.notices {
    padding: 0 2em;
    height: 52px;
    z-index: 39;

    & .toast {
        padding: 0;
        margin: 0;
        height: 52px;
        line-height: 52px;
        font-size: 14px;

        &:before {
            display: inline-block;
            font: normal normal normal 24px/1 "Material Design Icons";
            font-size: 24px;
            text-rendering: auto;
            line-height: inherit;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            margin-right: 8px;
        }

        &.is-success {
            &:before {
                content: "\f5e0";
            }
        }

        &.is-warning {
            &:before {
                content: "\f028";
            }
        }

        &.is-danger {
            &:before {
                content: "\f159";
            }
        }

        &.is-info {
            &:before {
                content: "\f2d7";
            }
        }

        @each $name, $pair in $colors {
            $color: nth($pair, 1);
            $color-invert: nth($pair, 2);

            &.is-#{$name} {
                color: #222;
                background: none;
                box-shadow: none;

                &:before {
                    color: $color;
                }
            }
        }
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0, -100%, 0);
    }

    to {
        transform: none;
    }
}

.fadeInDown {
    animation-name: fadeInDown;
}

@keyframes fadeOut {
    from {
        transform: none;
    }

    to {
        transform: translate3d(0, 100%, 0);
    }
}

.fadeOut {
    animation-name: fadeOut;
}